{% extends 'main/base.html' %}

    {% block content %} 
    {% include 'main/nav.html' %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <h5>Created at {{ article.createdAt }}</h5>
        <h4>
            Written By: 
            {% for author in article.authors.all %}
            <a href="{% url 'get_author' author.id %}">
            {{ author }},
            </a> 
            {% endfor %}
        </h4>
        <p style="text-align: justify;">
            {{ article.content }}
        </p>
    </div>
    {% endblock %}