{% extends 'main/base.html' %}
{% block content %}
    {% include 'main/nav.html' %}
    <div class="container">
        <h1 class="center-align">Languages</h1>
        <div class="collection">
            <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
            <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
            <a href="#!" class="collection-item">Alan</a>
            <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
        </div>
    </div>
{% endblock %}